
.nav_style {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a4c46;
  background-color: #ffffff;
  line-height: 1;
}

.contain {
  position: relative;
}

.medium_green_color{
  color : #1c6a5c;
}
.dark_green_color{
  color : #2a4c46;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.title {
  font-family: 'Kurale', serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.about_us_container{
  background-color: #2a4c46;
  border-radius: 5px;
  box-shadow: 7px 7px 11px 0 rgb(0 0 0 / 20%);
  margin:15px auto;
  padding: 20px 30px;
  max-width: 900px;
  /* justify-content: space-between; */
}
.padding{
  margin:25px 10vw;
  padding: 50px 50px;
}
.explore_button{
  width: fit-content;
  padding:  10px 40px;
  box-shadow: 7px 7px 11px 0 rgba(0, 0, 0, 0.16);
  background-color: #146D69;
  font-family: Optima;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;

}


.explore_button:active {
  box-shadow: 7px 7px 11px 0 rgba(0, 0, 0, 0.06);
  transform: translateY(4px);
}
.hidden_on_small{
  display: block;
}
.hidden_on_large{
  display: none !important; 
}
.large_menu{
  display: block !important;
}
.mobile_menu{
  display: block !important; 
}
.negative_height{
  margin-top: -300px
}

.gallery-container{
  padding:8px 8px;
  background-color: #ffffff;
}
.footer-container{
  margin-top: 30px;
  background-color: #2a4c46;
}

.swiper-container {
  padding-inline-start: 0 !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}
.swiper-wrapper{
  padding: 0;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .about_us_container{
    background-color: #2a4c46;
    border-radius: 5px;
    box-shadow: 7px 7px 11px 0 rgb(0 0 0 / 20%);
    margin:15px 16px;
    padding: 20px 30px;
  }
  .negative_height{
    margin-top: -380px
  }
  .swiper-container {

    height: 350px;
  }
  .hidden_on_large{
    display: block !important; 
  }
  .large_menu{
    display: none !important;
  }
  .mobile_menu{
    display: flex !important;
  }
  .hidden_on_small{
    display: none !important;
  }
  .gallery_width{
    width: 100%; 
  }
  .text_size_11{
    font-size: 11px !important;
  }

  .text_size_14{
    font-size: 14px !important;
  }

  .text_size_12{
    font-size: 12px !important;
  }
  
  .indicator{
    width: 29px !important;
  }

  .rounded_image{
    width: 120px !important;
    height: 120px !important;
  }


  .rounded_225{
    height: 225px !important;
  }
  .rounded_110{
    height: 110px !important;
  }
  
  
}

@media screen and (min-width: 576px) {
  .main_container{
    padding: unset !important;
  }

  .gallery_width{
    width: 80%; 
  }
}

.top-spacer {
  height: 50vh;
}

.bottom-spacer {
  height: 110vh;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #1C6A5C;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.header_mobile {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  max-width:900px;
}


.header_link {
  margin: 10px;
  color: #314d4a;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}
.book_btn {
  padding: 6px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #314d4a;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
}

.selected {
  border-bottom: 3px solid #11bb9a;
  color: #11bb9a;
}

.section {
  height: 40vh;
}
.form_background {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-image: linear-gradient(141deg, #fffae0 -1%, #ffe5b5 100%);
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2a4c46 !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #2a4c46!important;
}
.form-group {
  margin-bottom: unset !important;
}

.back_container{
  height: 130px;
  background-color: #1c6a5c;
  margin-bottom: -130px;
}

.main_container{
  margin:15px auto;
  max-width: 900px;
  padding: 0 16px;
}

.our_gardens_container{
  background-color: #1c6a5c;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
  height: "-webkit-fill-available";
}
.amenities_container{
 margin-top: 20px;
}
.our_gardens_image{
  margin: auto auto 30px auto;
  box-shadow: 7px 7px 11px 0 rgb(0 0 0 / 20%);
}

.layout_title{
  font-family: "Optima";
  color: #ffffff; 
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.layout_description{
  font-family: "Nunito"; 
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
}

.inclusive_title{
  width: fit-content;
  font-family: Optima;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 0px;
}
.divider_right{
  border-right: 0.5px solid #146D69;
}
.divider_left{
  border-left: 0.5px solid #146D69;
}

.rounded_image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
  box-shadow: 7px 7px 11px 0 rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.experience_text{
  font-family: "Optima";
  color: white;
  font-style: italic;
  font-size: 14px;
  text-align: start;
  margin-top: 10px;
  max-width: 140px;
}

.indicator{
  width: 66px;
  height: 3px;
  background-color: rgb(20, 109, 105);
}

.amen_container_left{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.amen_container_right{
  display: flex;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 300px) {
  .rounded_image{
    width: 120px;
    height: 120px;
  }
}

.rounded{
  border-radius: 50%;
  box-shadow: 7px 7px 11px 0 rgba(0, 0, 0, 0.16);
}

.rounded_225{
  height: 500px;
}

.rounded_110{
  height: 300px;
}


.image_row{
  display: flex;

}
a{
  text-decoration: none !important;
  color: white !important;
}
.row_margin{
  padding : 0 16px; 
}

.large_container{
  max-width: 900px;
  margin: 0 auto;
}

.text_size_11{
  font-size: 14px;
}
.text_size_14{
  font-size: 16px;
}
.text_size_12{
  font-size: 14px;
}
.banner_image{
  max-height: 350px;
}

.text_large_40{
  font-size: 30px;
}
.hidden_on_large{
  display: block;
}
.tidbits{
  margin: 5px auto
}
.tidbits_title{
  text-align: center;
}
.tidbits_text{
  margin:5px 20px;
  text-align: center;
  width : 100%;
}
#blooming_title{
  font-family: "Optima"; 
  color: #FFFFFF;
  font-size: 20px;
  text-align: center; 
  font-weight: bold;
}
.largest_only{
  display: none !important ;
}
